<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales">
	<!-- salesTbl 리스트 불러들이기 -->
	<!-- 
	private String area_cd;
	private String prod_id;
	private int sales_cnt;
	private String region_area;
	private String cd_nm;
	private String prod_nm;
	
	 -->
<!-- 	<select id="listAll" resultType="com.mdct.study.model.dto.SalesVO">
		SELECT A.AREA_CD, A.PROD_ID, A.SALES_CNT, A.REGION_AREA, B.CD_NM, C.PROD_NM
		FROM SALE_TBL_TEMP A, CD_ID_TEMP B, PROD_ID_TEMP C
		WHERE A.AREA_CD = B.CD_ID AND A.PROD_ID=C.PROD_ID
	</select> -->
	
	<select id="listAll" resultType="com.mdct.study.model.dto.SalesVO">
 SELECT  EXPT_RT
        ,COL1||DECODE(COL1_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_1
        ,COL2||DECODE(COL2_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_2
        ,COL3||DECODE(COL3_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_3
        ,COL4||DECODE(COL4_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_4
        ,COL5||DECODE(COL5_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_5
        ,COL6||DECODE(COL6_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_6
        ,COL7||DECODE(COL7_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_7
        ,COL8||DECODE(COL8_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_8
        ,COL9||DECODE(COL9_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_9
        ,COL10||DECODE(COL10_INT,GREATEST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▲',LEAST(COL1_INT,COL2_INT,COL3_INT,COL4_INT,COL5_INT,COL6_INT,COL7_INT,COL8_INT,COL9_INT,COL10_INT),'▼') COLUMN_NO_10
        ,TOT
FROM(
       SELECT DECODE(GROUPING(AREA_CD)||GROUPING(REGION_AREA),'00',MIN(CITY)||'=>'||REGION_AREA,'01',MIN(CITY)||'총계','11','총계') AS EXPT_RT
      ,SUM(DECODE(PROD_ID,'00001',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00001',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL1
      ,SUM(DECODE(PROD_ID,'00002',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00002',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL2
      ,SUM(DECODE(PROD_ID,'00003',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00003',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL3
      ,SUM(DECODE(PROD_ID,'00004',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00004',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL4
      ,SUM(DECODE(PROD_ID,'00005',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00005',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL5
      ,SUM(DECODE(PROD_ID,'00006',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00006',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL6
      ,SUM(DECODE(PROD_ID,'00007',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00007',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL7
      ,SUM(DECODE(PROD_ID,'00008',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00008',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL8
      ,SUM(DECODE(PROD_ID,'00009',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00009',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL9
      ,SUM(DECODE(PROD_ID,'00010',SALES_CNT))||' ('||ROUND(SUM(DECODE(PROD_ID,'00010',SALES_CNT))*100 /SUM(SALES_CNT),1)||'%)' COL10
      ,SUM(SALES_CNT) TOT
      ,SUM(DECODE(PROD_ID,'00001',SALES_CNT)) COL1_INT
      ,SUM(DECODE(PROD_ID,'00002',SALES_CNT)) COL2_INT
      ,SUM(DECODE(PROD_ID,'00003',SALES_CNT)) COL3_INT
      ,SUM(DECODE(PROD_ID,'00004',SALES_CNT)) COL4_INT
      ,SUM(DECODE(PROD_ID,'00005',SALES_CNT)) COL5_INT
      ,SUM(DECODE(PROD_ID,'00006',SALES_CNT)) COL6_INT
      ,SUM(DECODE(PROD_ID,'00007',SALES_CNT)) COL7_INT
      ,SUM(DECODE(PROD_ID,'00008',SALES_CNT)) COL8_INT
      ,SUM(DECODE(PROD_ID,'00009',SALES_CNT)) COL9_INT
      ,SUM(DECODE(PROD_ID,'00010',SALES_CNT)) COL10_INT
      ,GROUPING(AREA_CD)||GROUPING(REGION_AREA) GRP,AREA_CD
FROM(
SELECT  A.AREA_CD
        ,B.CD_NM CITY
  ,A.REGION_AREA
  ,A.PROD_ID
        ,A.SALES_CNT
FROM(
  SELECT AREA_CD
    ,REGION_AREA
    ,PROD_ID
                ,SUM(SALES_CNT) SALES_CNT
    FROM SALE_TBL_TEMP SALE
        WHERE ROWNUM <![CDATA[<]]>=100000
  GROUP BY AREA_CD
    ,REGION_AREA
                ,PROD_ID
 )A,CD_ID_TEMP B,PROD_ID_TEMP C
WHERE A.AREA_CD=B.CD_ID and A.PROD_ID=C.PROD_ID and B.CD_NM in ("부산","서울","광주","대전","평택","인천","아산")
    )
       GROUP BY ROLLUP(AREA_CD
               ,REGION_AREA)
)
ORDER BY AREA_CD;
	</select>	
</mapper>